<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".View.DeadliftHistory"
            android:parentActivityName=".View.AccountActivity" />
        <activity
            android:name=".View.SquatHistory"
            android:parentActivityName=".View.AccountActivity" />
        <activity
            android:name=".View.AccountActivity"
            android:parentActivityName=".View.SettingsActivity" />
        <activity
            android:name=".View.NotificationFragment"
            android:parentActivityName=".View.NotificationsActivity" />
        <activity
            android:name=".View.NotificationsActivity"
            android:parentActivityName=".View.SettingsActivity" />
        <activity
            android:name=".View.LanguageFragment"
            android:parentActivityName=".View.NotificationsActivity" />
        <activity
            android:name=".View.HelpFragmentDeadlifts"
            android:exported="false" />
        <activity
            android:name=".View.SettingsActivity"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.ProfileActivity"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.HelpFragmentSquats"
            android:exported="false" />
        <activity
            android:name=".View.SquatActivity"
            android:exported="false" />
        <activity
            android:name=".View.DeadliftsActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".View.LateralsActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".View.CurlsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".View.LineChartView"
            android:exported="false" />
        <activity
            android:name=".View.HomeActivity"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.SignUpActivity"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>